config.json
config.json.localhost
config.json.prod*
*.pem
*.db
*.gem
*.rbc
.bundle
.config
.yardoc
Gemfile.lock
InstalledFiles
_yardoc
coverage
doc/
lib/bundler/man
pkg
rdoc
test/tmp
test/version_tmp
!test/fixtures/test.2019-11-13.private-key.pem
!test/fixtures/config.json
tmp
.ruby-*
